p {
  color: black;
  font-family: 'Playfair Display', serif;
}

h1{
  color: black;
  font-family: 'Arvo', serif;
}

body{
  background-color: #ebe3ce;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;

}

ul{
  list-style-type: none;
  padding: 0
}

#nav a:link, #nav a:visited{
  display: block;
  color: #ADD8E6;
  background-color: red;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  padding: 3px;
  font-family: Georgia, "Times New Roman", serif;
}

#nav a:link, #nav a:hover{
  background-color: #FA8072
}

img{
  border: none;
}

#nav{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-content: space-between;
}

.menu-trigger{
  display: none;
}


@media screen and (max-width:600px){
  #nav{
    display: flex;
    flex-direction: column-reverse;
  }


  .menu-trigger {
      order: 1;
      font-size: 1.75em;
      width: 2em;
  }

  .menu-trigger{
    display: block;
  }

  #nav{
    display: none;
  }

  #examples{
    display:flex;
    
  }
}



@media screen and (min-width: 1000px){
  .content{
    display: grid;
    grid-template-columns: 100px 2fr 2fr;



  }

}

.cards{
  margin: 0;
  padding: 0;
  list-style: none;
}

.cards li{
  background-color: red;
  border: 1px solid #ccc
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.menu-trigger {
    order: 1;
    font-size: 1.75em;
    width: 2em;
}

.menu-trigger{
  order:1;
}

#nav{
  order:2;
}

#nav ul{
  display: none;
}
